.app-container {
  text-align: center;
  background-color: #23252C;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.biz-card {
  background-color: #1A1B21;
  border-radius: 20px;
  width: 317px;
}

.profile_pic {
  height: 317px;
  border-radius: 20px;
}

.about-text {
  max-width: 400px;
  margin: auto;
}

.interests-text {
  max-width: 400px;
  margin: auto;
}

.content {
  color: white;
}

footer {
  background-color: #161619;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-radius: 20px;
}

.footer-icon {
  margin: 10px;
  height: 25px;
}